/* 
Breakpoints
xs <  600px
sm  600px > <  960px
md  960px > < 1264px
lg 1264px > < 1904px
xl > 1904px
*/

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  padding: 0px 16px;
}

header nav {
  display: none;
}

header nav a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 8px;
  margin: 0 16px;
}

header nav a:hover {
  color: red;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo > div {
  margin-left: 16px;
}

@media (min-width: 600px) {
  header nav {
    display: block;
  }
}
