:root {
  --banner-top: #b167eb;
  --banner-bottom: #4bd8f6;
}

.home {
  animation: 0.2s color-p-primary forwards;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.meme-card {
  position: relative;
  border: 1px solid var(--color-border)
}

.meme-card img {
  position: absolute;
  top: 0;
  width: 100%;
  vertical-align: bottom;
}
