body{
	color: white;
	font-family: Arial;
}

p{
	font-size: 16px;
}

input{
	position: static;
}

input[type="file"]{ 
	color:#777777;
}

label{
	display: none;
	 
}

textarea{
	position: relative;
	height: 10em;	
}

input, textarea, section>div, select{
	background: rgba(255,255,255, 0.75);
	padding: 0.5em;	
}

input,textarea, button, label, select{
		
	font-family: Arial;
	font-size: 16px;
	border-radius: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: none;
}

form{
	padding-top: 20px;
}

button{
	padding: 0.5em;
}

button:hover {
  background: #999999;
}

section>div{
	color:black;
	padding: 1em;
	border-radius: 5px;
	margin: 5px;
}

a:link, a:visited{
	color:white;
}

a:hover{
	color: #AAAAAA;
}

@media screen {
	input,textarea, button, select{
		width: 100%;
	}
}

@media screen and (min-width: 30em) {
	input,textarea, button, select{
		width: 75%;
	}
	button{
	margin-left: 90px;
	}
	section{
	margin: auto;
	width: 90%;
	}
	label{
	display: inline-block; 
	width: 90px;
	text-align: right;
	vertical-align: top;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-right: 0.5em;
	box-sizing: border-box;
	}
}
