body{
	color: white;
}

input{
	border: 1px solid #000000;
	position: static;
}

label{
	display: none;
}

textarea{
	position: relative;
	height: 10em;	
}

input, textarea, section>div{
	background: rgba(255,255,255, 0.75);	
}

input,textarea, button{
	padding: 0.5em;	
	font-family: Arial;
	font-size: 14px;
	border-radius: 5px;
	margin-bottom: 10px;
	box-sizing: border-box;
	border: none;
}

form{
	padding-top: 20px;
}

button:hover {
  background: #999999;
}

section>div{
	color:black;
	padding: 1em;
	font-size: 14px;
	border-radius: 5px;
	margin: 5px;
}

@media screen {
	input,textarea, button{
		width: 100%;
	}
}

@media screen and (min-width: 30em) {
	input,textarea, button{
		width: 75%;
	}
	button{
	margin-left: 70px;
	}
	section{
	margin: auto;
	width: 90%;
	}
	label{
	display: inline-block; 
	width: 70px;
	text-align: right;
	vertical-align: top;
	border: 1px solid transparent;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	box-sizing: border-box;
	}
}
